@import "../../global.scss";

.skillsSide {
  padding: 2% 0;
  text-align: center;
  background-color: $bgColor;
  /* Gradient background */
  background-size: cover;

  .skillsTitle {
    margin: 2% 0;
    font-size: 50px;
    color: aliceblue;

    @include mobile {
      font-size: 20px;
      margin-top: 15%;
    }
  }

  .works {
    height: 430px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    /* Transparent background */

    @include mobile {
      max-width: 100%;
      margin: 5%;
      height: 405px;
    }

    .img_cont {
      display: flex;
      gap: 20px 3%;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    
      @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        
      }

      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid white;
        img {
          width: 100px;
          height: 100px;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }

          @include mobile {
            width: 50px;
            height: 50px;
          }
        }

        p {
          color: aliceblue;
          font-weight: bolder;
          text-align: center;

          @include mobile {
            font-weight: normal;
            font-size: 12px;
          }
        }
      }
    }
  }
}